@model MyRestaurantManagement.Models.MenuViewModel

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .number-input {
        display: inline-flex;
    }

        .number-input,
        .number-input * {
            box-sizing: border-box;
        }

            .number-input button {
                outline: none;
                -webkit-appearance: none;
                background-color: transparent;
                border: none;
                align-items: center;
                justify-content: center;
                height: 3rem;
                cursor: pointer;
                margin: 0;
                position: relative;
            }

                .number-input button:before,
                .number-input button:after {
                    display: inline-block;
                    position: absolute;
                    content: '';
                    width: 1rem;
                    height: 2px;
                    background-color: #212121;
                    transform: translate(-50%, -50%);
                }

                .number-input button.plus:after {
                    transform: translate(-50%, -50%) rotate(90deg);
                }

            .number-input input[type=number] {
                font-family: sans-serif;
                max-width: 4rem;
                padding: .5rem;
                border-width: 0 2px;
                font-size: 2rem;
                height: 3rem;
                font-weight: bold;
                text-align: center;
            }
</style>
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">@Model.Menu.Name</h1>
</div>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-3">
            <form method="post" enctype="multipart/form-data">
                <div class="card text-white bg-dark mb-3" style="height:300px;width:300px">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h2 class="display-6 lh-1 fw-bold">@product.Name</h2>
                        <p class="fs-5">@product.Description</p>
                    </div>

                    <div class="card-footer d-md-flex justify-content-between">
                        <p class="fs-5 float-left"><i class="fas fa-rupee-sign"></i> @product.Price</p>
                        @*<input id="quantity_@product.Id" name="quantity_" type="number" min="0" max="10" step="1" />*@
                        <div class="number-input gap-2">
                            <button type="button" class="text-white" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="fas fa-minus"></i></button>
                            <input class="quantity" min="0" max="10" step="1" name="quantity_" value="1" type="number">
                            <button type="button" class="text-white" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"><i class="fas fa-plus"></i></button>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end float-right">
                            <button class="btn btn-success float-right" type="submit">
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="productId" value="@product.Id" />
            </form>
        </div>
    }
</div>


@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

        });
        
    </script>
}